* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

nav a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  padding: 10px;
  margin: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cointainer-border-shadow {
  border: 1px solid black;
  border-radius: 50px;
  padding: 50px;
  margin: 50px;
  box-shadow: 5px 5px 5px gray;
}
