* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  color: white;
}

.logo {
  padding: 5px;
  margin: 10px;
}

nav a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  padding: 10px;
  margin: 5px;
}
